# Use this File to practice your Queries

In [1]:
%load_ext sql

In [2]:
%reload_ext sql 
%sql sqlite:///worker_project.db

In [3]:
%%sql
SELECT * FROM worker

 * sqlite:///worker_project.db
Done.

[(101, 'Smith', 'Tom', 'Accounting', '01-Feb-1970', '06-Jun-1993 ', 50000),
 (103, 'Jones', 'Mary', 'Accounting', '15-Jun-1975', '20-Sep-2005', 48000),
 (105, 'Burns', 'Jane', 'Accounting', '21-Sep-1980', '12-Jun-2015', 39000),
 (110, 'Burns', 'Michael', 'Research', '05-Apr-1977', '10-Sep-2020', 70000),
 (115, 'Chin', 'Amanda', 'Research', '22-Sep-1980', '19-Jun-2022', 60000)]